.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/backbt.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 269px;
}

.u-section-1 .u-text-1 {
  margin: 70px 320px -211px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 220px;
    margin-right: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 110px;
    margin-right: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/back14.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 925px;
}

.u-section-2 .u-text-1 {
  margin: 104px 427px 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 435px 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 468px;
  height: 266px;
  margin: 23px auto 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 36px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 14px 411px 0;
}

.u-section-2 .u-text-4 {
  margin: 23px 276px 0;
}

.u-section-2 .u-text-5 {
  margin: 30px 271px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 327px;
    margin-right: 327px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 335px;
    margin-right: 335px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 311px;
    margin-left: 311px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 40px;
    margin-right: 176px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 171px;
    margin-right: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 217px;
    margin-right: 217px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 225px;
    margin-right: 225px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 201px;
    margin-left: 201px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 66px;
    margin-left: 225px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 61px;
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 127px;
    margin-right: 127px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -2px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 34px;
    margin-top: -20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 29px;
    margin-right: 111px;
    margin-left: 137px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 38px;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 193px;
    margin-top: -16px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 21px;
    margin-top: -15px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 56px;
    margin-right: 11px;
    margin-left: 61px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-left: 72px;
  }
}